html {
  font-size: 17px;
}

body {
  font-size: 1rem;
}

/* Make footer stick at the bottom. Stretch the <main> block */
html,
body,
#root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}
#root > * {
  flex-shrink: 0;
}
#root > main {
  flex-grow: 1;
}

h1:first-child {
  text-align: center;
  margin: 1.5rem auto 3rem;
}

.ui.form input[type="email"],
.ui.form input[type="password"] {
  max-width: 250px;
}
